Repository tqdm/tqdm, pull requests merged in 2021-04, with the labels that each got.

#1142 notebook: support `delay`
  tests_notebook.ipynb
  tqdm/notebook.py
Labels: c3-small 🕒, p3-enhancement 🔥, submodule-notebook 📓, to-merge ↰

#1148 Fix that tqdm_class cannot be passed to `tmap` and `tzip`
  tests/tests_contrib.py
  tqdm/contrib/__init__.py
Labels: c1-quick 🕐, p0-bug-critical ☢, submodule ⊂, to-merge ↰

#1155 added logging sub-module
  .meta/.readme.rst
  README.rst
  tests/tests_contrib_logging.py
  tqdm/contrib/logging.py
Labels: p3-enhancement 🔥, question/docs ‽, submodule ⊂

#1143 next release v4.60.0
  .meta/.readme.rst
  .meta/requirements-test.txt
  .pre-commit-config.yaml
  DEMO.ipynb
  Makefile
  README.rst
  environment.yml
  setup.cfg
  tests/tests_contrib.py
  tests/tests_contrib_logging.py
  tests_notebook.ipynb
  tox.ini
  tqdm/contrib/__init__.py
  tqdm/contrib/logging.py
  tqdm/dask.py
  tqdm/keras.py
  tqdm/notebook.py
Labels: c8-hard 🕗, p2-bug-warning ⚠, p3-enhancement 🔥, p3-framework ⚒, question/docs ‽, submodule ⊂, submodule-notebook 📓, to-merge ↰
