Repository tqdm/tqdm, pull requests merged in 2023-08, with the labels that each got.

#1490 misc build/test updates & fixes
  .github/CODEOWNERS
  .github/workflows/check.yml
  .meta/mksnap.py
  .meta/nbval.ini
  .meta/requirements-build.txt
  .pre-commit-config.yaml
  CONTRIBUTING.md
  LICENCE
  Makefile
  asv.conf.json
  environment.yml
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
  tqdm/contrib/logging.py
  tqdm/gui.py
  tqdm/notebook.py
  tqdm/tk.py
Labels: question/docs ‽, to-merge ↰, submodule-notebook 📓, c8-hard 🕗, p3-framework ⚒

#1492 build: do not install `examples` package
  pyproject.toml
Labels: to-merge ↰, c1-quick 🕐, p3-framework ⚒

#1491 env var override support
  .github/workflows/check.yml
  .github/workflows/test.yml
  .meta/.readme.rst
  .meta/mkcompletion.py
  .meta/mkdocs.py
  .meta/mksnap.py
  DEMO.ipynb
  README.rst
  tests/tests_utils.py
  tqdm/cli.py
  tqdm/contrib/discord.py
  tqdm/contrib/slack.py
  tqdm/contrib/telegram.py
  tqdm/std.py
  tqdm/tqdm.1
  tqdm/utils.py
Labels: p3-enhancement 🔥, question/docs ‽, to-merge ↰, c3-small 🕒

#1493 fix `envwrap` types, update docs
  .github/workflows/test.yml
  .meta/.readme.rst
  CONTRIBUTING.md
  README.rst
  asv.conf.json
  examples/async_coroutines.py
  examples/parallel_bars.py
  tests/tests_asyncio.py
  tests/tests_utils.py
  tox.ini
  tqdm/notebook.py
  tqdm/std.py
  tqdm/utils.py
Labels: p0-bug-critical ☢, question/docs ‽, to-merge ↰, c3-small 🕒
